:root {
    --timing: 1.5s;
  }

.svg{
    position: relative;
    left: 45vw;
    top: 45vh;
    width: 25vw;
    height: 25vh;
    overflow: visible;

    &.stop{
        #hand{
            animation-play-state: paused;
        }
        
        #arm-group{
            animation-play-state: paused;
        }
        
        #front-arm-group{
            animation-play-state: paused;
        }
    }
}

#hand, #arm-group, #front-arm-page{
    animation-delay: 0.2s;
}

#hand{
    transform-origin: 67% 60%;
    animation: hand-anim var(--timing) ease-in-out infinite;
}

#arm-group{
    transform-origin: 0% 60%;
    animation: arm-anim var(--timing) ease-in-out infinite;
}

#front-arm-group{
    transform-origin: 32% 60%;
    animation: front-arm-anim var(--timing) ease-in-out infinite;
}

@keyframes arm-anim {
    0% {
        transform: rotateZ(20deg);
    }

    50% {
        transform: rotateZ(-60deg);
    }

    100% {
        transform: rotateZ(20deg);
    }
}

@keyframes front-arm-anim {
    0% {
        transform: rotateZ(5deg);
    }

    50% {
        transform: rotateZ(-50deg);
    }

    100% {
        transform: rotateZ(5deg);
    }
}

@keyframes hand-anim {
    0% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(-20deg);
    }

    100% {
        transform: rotateZ(10deg);
    }
}