:root {
  --timing: 1.5s;
  --skin-color: #C28640;
  --shirt-color: #500463;
  --trousers-color: #3F7FCB;
  --shoes-color: #000000;
}

.btnContainer {
  position: absolute;
  left: 10vw;
  top: 10vh;
}

.svg {
  position: relative;
  left: 25vw;
  top: 25vh;
  width: 45vw;
  height: 45vh;
  overflow: visible;
}
.svg .skin {
  fill: var(--skin-color);
}
.svg .shirt {
  fill: var(--shirt-color);
}
.svg .trousers {
  fill: var(--trousers-color);
}
.svg .shoes {
  fill: var(--shoes-color);
}
.svg * {
  animation-delay: 0.2s;
}
.svg.wave #hand {
  animation: left-hand-wave var(--timing) ease-in-out infinite;
}
.svg.wave #left-arm-group {
  animation: left-arm-wave var(--timing) ease-in-out infinite;
}
.svg.wave #front-arm-group {
  animation: left-front-arm-wave var(--timing) ease-in-out infinite;
}
.svg.wave #hand_2 {
  animation: right-hand-wave var(--timing) ease-in-out infinite;
}
.svg.wave #right-arm-group {
  animation: right-arm-wave var(--timing) ease-in-out infinite;
}
.svg.wave #front-arm-group_2 {
  animation: right-front-arm-wave var(--timing) ease-in-out infinite;
}
.svg.warming #character {
  animation: character-warm var(--timing) ease-in-out infinite;
}
.svg.warming #left-arm-group {
  animation: left-arm-warm var(--timing) ease-in-out infinite;
}
.svg.warming #front-arm-group {
  animation: left-front-arm-warm var(--timing) ease-in-out infinite;
}
.svg.warming #right-arm-group {
  animation: right-arm-warm var(--timing) ease-in-out infinite;
}
.svg.warming #front-arm-group_2 {
  animation: right-front-arm-warm var(--timing) ease-in-out infinite;
}
.svg.warming #right-leg-group {
  animation: right-leg-warm var(--timing) ease-in-out infinite;
}
.svg.warming #front-leg-group {
  animation: right-front-leg-warm var(--timing) ease-in-out infinite;
}
.svg.warming #left-leg-group {
  animation: left-leg-warm var(--timing) ease-in-out infinite;
}
.svg.warming #front-leg-group_2 {
  animation: left-front-leg-warm var(--timing) ease-in-out infinite;
}

#hand {
  transform-origin: 87% 30%;
}

#left-arm-group {
  transform-origin: 62% 30%;
}

#front-arm-group {
  transform-origin: 74% 30%;
}

#hand_2 {
  transform-origin: 13% 30%;
}

#right-arm-group {
  transform-origin: 38% 30%;
}

#front-arm-group_2 {
  transform-origin: 26% 30%;
}

#upper-body-group, #lower-body-group {
  transform-origin: 50% 60%;
}

#above-ribs-group {
  transform-origin: 50% 45%;
}

#head-group {
  transform-origin: 50% 26%;
}

#head {
  transform-origin: 50% 24%;
}

#right-leg-group {
  transform-origin: 43% 68%;
}

#front-leg-group {
  transform-origin: 43% 82%;
}

#left-leg-group {
  transform-origin: 57% 68%;
}

#front-leg-group_2 {
  transform-origin: 57% 82%;
}

@keyframes left-arm-wave {
  0% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(-60deg);
  }
  100% {
    transform: rotateZ(20deg);
  }
}
@keyframes left-front-arm-wave {
  0% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
@keyframes left-hand-wave {
  0% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
@keyframes right-arm-wave {
  0% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(60deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
@keyframes right-front-arm-wave {
  0% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(50deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
@keyframes right-hand-wave {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
@keyframes left-arm-warm {
  0% {
    transform: rotateZ(80deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(80deg);
  }
}
@keyframes left-front-arm-warm {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes right-arm-warm {
  0% {
    transform: rotateZ(-80deg);
  }
  50% {
    transform: rotateZ(50deg);
  }
  100% {
    transform: rotateZ(-80deg);
  }
}
@keyframes right-front-arm-warm {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes character-warm {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes right-leg-warm {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes right-front-leg-warm {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes left-leg-warm {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes left-front-leg-warm {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}/*# sourceMappingURL=character.css.map */